<template>
<div :class="'col-' + getColClass">
    <fieldset class="form-group fieldset-elem">

      <label class="form-label fieldset-elem__label" >{{title}}</label>

      <input type="text" class="form-control fieldset-elem__input"
             :value="inputValue"  @input="emitValue($event)" />

    </fieldset>
</div>
</template>

<script>
export default {

  name: "Input",
  props: ['setvalue', 'col', 'type', 'title'],
  data() {
    return {
      colClass:12,
    }
  },

  computed: {

    getColClass() {
      if(this.col) this.colClass = this.col
      return this.colClass;
    },

    getTitle() {
      return this.title;
    },

    inputValue() {
      return this.setvalue;
    },

  },

  methods: {
    emitValue(event) {
      this.$emit('getvalue', event.target.value);
    }
  },

}
</script>

<style scoped>

</style>