<template>
  <div :class="'col-' + getColClass">
<!--    <pre>{{selectValue}}</pre>-->
    <fieldset class="form-group fieldset-elem">
        <label class="form-label fieldset-elem__label" >{{getTitle}}</label>
        <select v-model="selectValue"
                @change="emitValue()"
                class="select2-arrow manual select2-no-search-arrow"
                style="cursor: pointer; height: 30px; border: 0">
                <template v-if="getAttr">
                  <option v-for="(item, index) in getList"
                          :value="item[getAttr[0]]">{{item[getAttr[1]]}}</option>
                </template>
                <template v-else >
                    <option v-for="(label, name) in getList" :value="name" >{{label}} </option>
                </template>
        </select>
    </fieldset>
  </div>
</template>

<script>
export default {
  name: "Select",
  props: ['list', 'setvalue', 'col', 'title', 'param'],
  data() {
    return {
       colClass: 12,
       selectValue: '',
    }
  },

  computed: {

    getAttr() {
      return this.param;
    },

    getColClass() {
      if(this.col) this.colClass = this.col
      return this.colClass;
    },

    getTitle() {
      return this.title;
    },

    inputValue() {
      this.selectValue =  this.setvalue;
      return this.selectValue;
    },

    getList() {
      return this.list;
    },

  },

  methods: {
    emitValue() {
      this.$emit('getvalue', this.selectValue);
    }
  },
}
</script>

<style scoped>

</style>