<script>
export default {
  name: "FormEditor",

  props: {
    model: {type: Object},
    item: {type: Object, default: null},
    colCss  : {type: String, default: ''},
    labelCss: {type: String, default: ''},
    inputCss: {type: String, default: ''},
    css: {type: Object, default: null},
    validate: {type: Object, default: {}},
    formDataWrap: {type: Boolean, default: false},
  },

  data() {
    return {
      formData: {},
      files: [],
      colStyle: '',
      labelStyle: '',
      inputStyle: '',
    }
  },

  created() {
    this.init();
    this.setCss();
  },

  methods: {

    init() {
      if (this.item) this.dataRender(this.item, true)
      else this.dataRender(this.model, false)
    },

    dataRender(item, type = true) {
      for (let name in item) {
        let value = (type) ? item[name] : '';
        this.formData[name] = value;
      }
    },

    update(fname) {

      this.makeValid(fname);

      let data = {};
      if(!this.formDataWrap) {
        data = this.formData;
        this.$emit('update', data);
        return true;
      }

      data = new FormData();
      for(let i in this.formData) {
        data.append(i, this.formData[i])
      }

      this.$emit('update', data);
    },

    setCss() {
      this.colStyle   = (this.colCss) ? this.colCss : '';
      this.labelStyle = (this.labelCss) ? this.labelCss : '';
      this.inputStyle = (this.inputCss) ? this.inputCss : '';
      if(this.css) {
         const css = this.css;
         if(css?.col) this.colStyle = this.colStyle + css.col;
         if(css?.label) this.labelStyle = this.labelStyle + css.label;
         if(css?.input) this.inputStyle = this.inputStyle + css.input;
      }
    },

    handleUploadFiles(event, field) {
       const files = event.target.files;
       for (let i = 0 ; i < files.length; i++) {
           let file = files.item(i);
           this.files.push(file);
           if(!this.model[field]?.multiply) {
               this.formData[field] = this.files[0];
               this.$emit('update', this.formData);
               return true;
           }
      }

      this.formData[field] = this.files;
      this.$emit('update', this.formData);
    },

    makeValid(fname) {
        if (!this.validate[fname] &&
            !this.model[fname] &&
            !this.formData[fname]) return false;

        let value = this.formData[fname];
        let rules = this.validate[fname];

        for (let rule in rules) {
            let fn = this.getValidatorRule(rule);
            if (!fn) continue;

            let ruleValue = rules[rule];
            let res = fn(value, ruleValue);
            this.model[fname].error = '';
            if (res.message) {
                this.model[fname].error = res.message;
            }
        }
    },

    getValidatorRule(rule) {

        const rules = {
            require: (value) => {
              let message = (!value || value == '') ? 'Поле не должно быть пустым' : null;
              let check = message ? false : true;
              return {check, message}
            },

            max: (value, ruleValue) => {
              let message = (value.length > ruleValue) ? 'Превышен лимит символов' : null;
              let check = message ? false : true;
              return {check, message}
            },

            min: (value, ruleValue) => {
              let message = (value.length < ruleValue) ? 'Слишком короткое значение' : null;
              let check = message ? false : true;
              return {check, message}
            },
        }

        return (rules[rule]) ? rules[rule] : null;
    }

  },
}
</script>

<template>

  <div class="_form-editor-row">
    <div class="_form-editor__header"><slot name="footer" ></slot></div>
    <template v-for="(item, name, index) in model" >

      <div class="_form-editor-col" :style="'width: '+ item.width +'%;'" >
         <div :class="'_column-style-' + ((item.col_style) ? item.col_style : 'default')" :style="'height:100%; ' + colStyle" >

              <!----- TEXT ------------->
              <template v-if="item.type == 'text'" >
                  <div class="label-text-xs" :style="labelStyle">{{item.title}}</div>
                  <input v-model="formData[name]" @input="update(name)" :placeholder="item.title"  class="control-input-text" :style="inputStyle" type="text">
              </template>
              <!----- TEXTAREA --------->
              <template v-if="item.type == 'textarea'"  >
                <div class="label-text-xs" :style="labelStyle">{{item.title}}</div>
                <textarea v-model="formData[name]" @input="update(name)" :placeholder="item.title" class="control-input-textarea" ></textarea>
              </template>
              <!----- SELECT  --------->
              <template v-if="item.type == 'select'" >
                  <div class="label-text-xs" :style="labelStyle">{{item.title}}</div>
                  <select v-model="formData[name]" @change="update(name)" class="control-input-select" :style="inputStyle" >
                      <option v-if="item?.attr.length"
                              v-for="(elem) in item.list" :value="elem[item.attr[0]]"> {{ elem[item.attr[1]] }}
                      </option>
                      <option v-else v-for="(elem, key) in item.list" :value="key">{{ elem }}</option>
                  </select>
              </template>
              <!----- CHECKBOX ------->
              <template v-if="item.type == 'checkbox'" >
                  <div style="text-align: center;">
                      <div class="label-text-xs" :style="labelStyle">{{item.title}}</div>
                      <input v-model="formData[name]" @change="update(name)" class="control-input-checkbox" type="checkbox"
                             style="margin:4px 0px 0px 4px;" :id="'checkbox-' + index + name" >
                  </div>
              </template>
              <!----- RADIO ----------->
              <template v-if="item.type == 'radio'" >
                  <div class="label-text-xs" :style="labelStyle">{{item.title}}</div>
                  <div style="display: flex; padding-top: 5px;">
                      <div v-for="(radioTitle, radioName) in item.list" class="radio-control-box" >
                        <input v-model="formData[name]" @change="update(name)" :value="radioName" class="control-input-radio"
                               :id="'radio-' + index + name" type="radio" >
                        <label class="label-text-xs" :for="'radio-' + index + name" >{{radioTitle}}</label>
                      </div>
                  </div>
              </template>
              <!----- FILE ----------->
              <template v-if="item.type == 'file'" >
                  <div class="label-text-xs" :style="labelStyle">{{item.title}}</div>
                  <div class="input__wrapper" style="">
                    <input @change="handleUploadFiles($event, name)" type="file" id="input__file" class="input__file" multiple >
                    <label for="input__file" class="input__file-button" >Выберите файл</label>

                    <div v-if="files.length" style="font-size: 9px">
                       <template v-for="(item, i) in files" >
                           <div>{{item.name}}</div>
                       </template>
                    </div>
                  </div>
              </template>

               <div class="validate-error-message-box">
                  {{item?.error}}
               </div>

        </div>

      </div><!--- _form-editor-col --->

    </template>
    <div class="_form-editor__footer"><slot name="footer" ></slot></div>
  </div>

</template>

<style scoped>

/* start БАЗОВЫЕ СТИЛИ*/

/*Корневой контейнер*/
._form-editor-row {
  border: 1px grey solid;
  background: white;
  border-radius: 1px;
  /*width: 500px;*/
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
}

/*Бокс для поля формы*/
._form-editor-col {
  /*border: 1px red solid;*/
  background: white;
  padding: 3px;
  margin: 0px;
  width: 32.5%;
  box-sizing: border-box;
}


/*----- LABEL -----*/

.label-text-xs::before,
.label-text-xs::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}


.label-text-xs {
  font-size: 0.78rem;
  display: block;
  /*color: #BBC8FD;*/
  color:grey;
}

/*----- ./ LABEL -----*/

.radio-control-box {
  display: flex;
  padding: 0px 3px 0px 3px;
  border: 0px red solid;
  width: 100%;
}

.radio-control-box .label-text-xs {
   /*border: 1px red solid;*/
   text-align: left;
   margin-right: 4px;
}

/*********************/
/*-- FIELDS STYLE --*/

.control-input-text,
.control-input-select,
.control-input-textarea{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 1px;
  width: 100%;
  /*height: 38px;*/
  height: 33px;
  /*outline: red;*/
}

.control-input-text::before,
.control-input-text::after
.control-input-select::before,
.control-input-select::after,
.control-input-textarea::before,
.control-input-textarea::after,
.control-input-checkbox::before,
.control-input-checkbox::after
.control-input-radio::before,
.control-input-radio::after
{
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

/*----- TEXT -----*/
.control-input-text {

}

/*----- TEXTAREA -----*/
.control-input-textarea {
   height: 40px;
}

/*----- SELECT -----*/
.control-input-select {
  background-size: 15px;
  background-position: center right 0.6rem;
  background-color: #fff;
  background-repeat: no-repeat;
  padding-right: 2rem;
  padding-top: 4px;
}

/*----- CHECKBOX -----*/
.control-input-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 0.2em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-right: 0.5rem;
}

/*----- RADIO -----*/
.control-input-radio {
  width: 17px;
  height: 17px;
  border-radius: 0.2em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-right: 0.5rem;
}

/*-- ./ FIELDS STYLE --*/
/*********************/


._form-editor__header,
._form-editor__footer {
  width: 100%
}

/********************************/
/*---- LABEL STILE VARIANTS ---*/

/*---- flex ----*/
._column-style-flex {
  display: flex;
}

._column-style-flex .label-text-xs {
  width: 30%;
  padding-top: 6px;
  padding-right: 5px;
  text-align: right;
}
/*---- ./ flex ----*/

/*---- hidden----*/
._column-style-hidden .label-text-xs {
   display: none;
}
/*---- ./ hidden ----*/

/*---- ./ LABEL STILE VARIANTS ---*/
/********************************/

 /*FILE UPLOAD STYLE*/

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 0;
  text-align: left;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-button {
  display: block;
  width: 110px;
  height: 100%;
  /*border: 1px red solid;*/
  color: grey;
  padding: 4px 10px 4px 10px;
  font-size: 11px;
  background: #cbd5e0;
  cursor: pointer;
  text-align: center;
}

/*VALIDATE ERROR MESSAGE*/

.validate-error-message-box {
   font-size: 9px;
   color:red;
   font-style: italic;
   /*position: absolute;*/
}

._column-style-flex .validate-error-message-box {
  position: absolute;
  margin-top: 30px;
}

</style>