<template>
  <div class="form-wrap-container">

    <!--  Form header  --->
    <div class="form-top-header-panel" >
      <slot name="form-header-slot">
        <!--          default slot header-->
      </slot>
    </div>

    <!---- ##############    ---->
    <!---- ROW GRID CONTAINER --->
    <div class="row-wrap-box" style="padding-top: 15px">
      <!-----  Form fields foreach ------>
      <template v-for="(item, fname) in getFormModel" >

        <template v-if="item.type" >
          <div :class="`col-item-w-${item.col}`"
               :id="`col-item-id-${fname}`" style="margin-left:1px; border:0px red solid">

            <template v-if="item.type == 'text'">
              <!--------- TEXT --------->
              <div class="text-field__wrapper" style="margin-bottom: 0px">
                <div :class="'text-field ' + textFloatingBox">

                  <input class="text-field__input text-field__input_valid"
                         :id="`form-input-id-${fname}`"
                         @input="watchFunc(); validator(fname)"  type="text"
                         v-model="item.value"
                         style="height: 30px; font-size: 13px" >

                  <label class="text-field__label"
                         style="left: 0px; font-size: 13px; font-style: italic; color: #3f729b;transform: translateY(-60%) scale(0.75);"
                         :for="`form-input-id-${fname}`" >{{item.title}}</label>
                </div>
                <div v-if="item.error"
                     class="text-field__message text-field__message_valid"
                     style="font-size: 9px; font-style: italic; border:1px red solid; color: red; margin-bottom: 5px"
                > {{item.error}} </div>
              </div>

            </template>
            <template v-else-if="item.type == 'textarea'">
              <!--------- TEXTAREA --------->
              <div class="text-field__wrapper" style="margin-bottom: 0px">
                <div class="text-field text-field_floating-2" >
                        <textarea class="text-field__input text-field__input_valid"
                                  :id="`form-textarea-id-${fname}`"
                                  @input="watchFunc"
                                  v-model="item.value"
                                  style="height: 48px; font-size: 13px" ></textarea>

                  <label class="text-field__label"
                         style="left: 0px; font-size: 13px; font-style: italic; color: #3f729b;transform: translateY(-60%) scale(0.75);"
                         :for="`form-textarea-id-${fname}`" >{{item.title}}</label>
                </div>
                <div class="text-field__message text-field__message_valid"></div>
              </div>

            </template>
            <template v-else-if="item.type == 'select'">
              <!--------- SELECT --------->
              <div class="text-field__wrapper" style="margin-bottom: 0px">
                <div class="text-field text-field_floating-2 text-field__input" style="padding: 0px; height: 30px">

                  <label class="text-field__label"
                         style="top: 0px; left: 0px; font-size: 13px; font-style: italic; color: #3f729b;transform: translateY(-60%) scale(0.75);"
                         :for="`form-select-id-${fname}`" >{{item.title}}</label>

                  <select v-model="item.value"
                          @change="watchFunc"
                          :id="`form-select-id-${fname}`"
                          class=""
                          style="height: 100%; width: 100%; border: 0; font-size: 13px; cursor: pointer">
                    <option v-for="(elem) in item.list"
                            :value="elem[item.struct.id]">{{ elem[item.struct.title]}}
                    </option>
                  </select>

                </div>
                <div class="text-field__message text-field__message_valid"></div>
              </div>

            </template>
            <template v-else-if="item.type == 'checkbox'">
              <!--------- CHECKBOX --------->
              <div class="text-field__wrapper" style="margin-bottom: 0px">
                <div class="text-field text-field_floating-2 text-field__input"
                     style="padding: 0px; height: 30px; text-align: center">

                  <label class="text-field__label"
                         style="top: 0px; left: 0px; font-size: 13px; font-style: italic; color: #3f729b;transform: translateY(-60%) scale(0.75);"
                         :for="`form-checkbox-id-${fname}`" >{{item.title}}</label>

                  <input v-model="item.value"
                         @change="watchFunc"
                         :id="`form-checkbox-id-${fname}`"
                         type="checkbox"
                         class=""
                         style="width: 17px; height: 17px; cursor: pointer; margin-top:5px;">
                </div>
                <div class="text-field__message text-field__message_valid"></div>
              </div>

            </template>
            <template v-else-if="item.type == 'radio'">
              <!--------- RADIO --------->
              <div class="text-field__wrapper" style="margin-bottom: 0px;">
                <div class="text-field text-field_floating-2 text-field__input"
                     style="padding: 0px; height: 30px; display: flex; padding-top: 3px;">

                  <label class="text-field__label"
                         style="top: 0px; left: 0px; font-size: 13px; font-style: italic; color: #3f729b;transform: translateY(-60%) scale(0.75);"
                         :for="`form-radio-id-${fname}`" >{{item.title}}</label>

                  <div v-for="(elem) in item.list"
                       style="display: flex; border: 0px red solid; width: 100%; margin-right: 6px;">

                    <input v-model="item.value" :value="elem[0]"
                           @change="watchFunc"
                           class="" type="radio"
                           style="width: 16px; height: 16px; cursor: pointer">

                    <div style="font-size: 11px; margin-left: 1px; padding-top: 4px;">{{elem[1]}}</div>
                  </div>

                </div>
                <div class="text-field__message text-field__message_valid"></div>
              </div>

            </template>
            <template v-else-if="item.type == 'email'">

            </template>
            <template v-else-if="item.type == 'password'">

            </template>
            <template v-else-if="item.type == 'number'">

            </template>
            <template v-else-if="item.type == 'phone'">

            </template>
            <template v-else-if="item.type == 'submit'">
              <!--------- SUBMIT (btn) --------->
              <div class="text-field__wrapper" style="margin-bottom: 0px">
                <div class="text-field text-field_floating-2 text-field__input"
                     style="padding: 0px; height: 30px; text-align: center;border: 0px">

                  <template v-if="item.fn" >
                    <button @click="item.fn($event)"
                            type="button" class="form-btn-action"
                            style="">{{ item.title }}
                    </button>
                  </template>
                  <template v-else >
                    <button @click="submit($event)"
                            type="button" class="form-btn-action"
                            style="">{{ item.title }}
                    </button>
                  </template>

                </div>
              </div>

            </template>
            <template v-else >
              <!--                  <pre>{{item}}</pre>-->
            </template>

          </div> <!--- .col-item-w-* --->
        </template> <!--- if item.type --->

      </template> <!--- foreach getFormModel --->
      <!----- ./ Form fields foreach ------>
    </div>
    <!---- ./ ROW GRID CONTAINER --->
    <!----  ##############    --->

    <!--- Form btn actions ---->
    <div class="form-bottom-panel" >
      <slot name="form-bottom-slot">
        <!--        default slot bottom-->
        <hr>
        <div v-if="action_fn" style="text-align: right; margin: 10px 1px 10px 5px;">
          <button @click="action_fn($event)"
                  type="button" class="form-btn-action"
                  style="width: 50%; height:35px; margin-right: 4px;"> Выполнить
          </button>
        </div>

      </slot>
    </div>

  </div> <!--- form-wrap-container --->
</template>

<script>
export default {
  name: "FormEdit",
  props: ['form_model', 'form_data', 'validate', 'margin', 'padding', 'action_fn'],
  data() {
    let marginLocal = (this.margin) ? this.margin : 1;
    let paddingLocal = (this.padding) ? this.paddingLocal : 1;
    return {
      marginLocal,
      paddingLocal,

      textFloatingBox: 'text-field_floating-2',
    }
  },

  created() {
    this.mapFormData()
  },

  computed: {

    getFormModel() {
      return this.form_model;
    },

    getValidate() {
      return this.validate;
    },

    getFormData() {
      return this.form_data;
    },

    setMargin() {
      return this.marginLocal;
    },

    setPadding() {
      return this.paddingLocal;
    }
  },

  methods: {

    submit(event) {
      event.preventDefault();
      const data = this.loadingData();
      console.log('submit:', data);
      this.$emit('submit_form_data', data)
    },

    watchFunc() {
      const data = this.loadingData()
      this.$emit('get_form_data', data)
    },

    loadingData() {
      const data = {};
      for (let name in this.getFormModel) {
        let item = this.getFormModel[name];
        if(item.type && (item.value || item.value == '')) {
          let value = this.getFormModel[name].value;
          data[name] = value;
        }
      }
      return data;
    },

    mapFormData() {

      if(!this.form_data) return false;

      for (let name in this.form_data) {
        if(this.form_model[name]) {
          let value = this.form_data[name];
          this.form_model[name].value = value;
        }
      }

    },

    validator(fname) {

      if(!this.getValidate || !this.getValidate[fname]) return false;

      let rules = this.getValidate[fname].split('|');
      let sourceValue = this.getFormModel[fname].value;
      let title = this.getFormModel[fname].title;
      this.getFormModel[fname]['error'] = '';

      for(let i in rules) {
        let item = rules[i];
        let list = item.split(':');
        let rule = list[0];
        let ruleValue = (list[1]) ? list[1] : '';
        let error = '';
        switch (rule) {
          case 'required' :
            error = (!sourceValue || sourceValue == '') ? `Поле ${title} обязательно ` : '';
            break;
          case 'min' :
            error = (sourceValue.length < parseInt(ruleValue)) ? `Должно быть не меньше ${ruleValue} символов` : '';
            break;
          case 'max'      : break;
          case 'email'    : break;
        }

        if(error) {
          this.getFormModel[fname]['error'] = error;
          return true;
        }
      }
    },

  },
}
</script>

<style scoped >

input,
textarea,
select {
}

input {
}

input[type='text'] {
  height: 27px;

}

input[type='checkbox'] {
  height: 16px;
}

input[type='radio'] {
  height: 17px;
}

select {
}

textarea {
}

input:focus {
  outline: 1px #b0bed9 solid;
}


/*!*** Контейнер поля ****!*/
/*.form-group-box {*/
/*  width: 100%;*/
/*  border: 1px dodgerblue solid;*/
/*  padding: 3px;*/
/*}*/

/*!*** Label ****!*/
/*.form__label {*/
/*  width: 100%;*/
/*  font-size: 12px;*/
/*  font-style: italic;*/
/*  text-align: left;*/
/*  padding: 2px 2px 2px 2px;*/
/*}*/

/*!*** Содержимое ****!*/
/*.form__item-content {*/
/*  width: 100%;*/
/*}*/

/*.form-item__error {*/
/*   font-size: 11px;*/
/*   font-style: italic;*/
/*   color: #1d50de;*/
/*}*/

/*!*** Класс поля ****!*/
/*.form-control-elem {*/
/*  width: 100%;*/
/*  margin: 0px;*/
/*  padding: 0px;*/
/*  cursor: pointer;*/

/*  padding:3px;*/
/*  border:1px #b0bed9 solid;*/
/*  !*box-shadow:0 0 10px 2px rgba(0,0,0,0.06);*!*/
/*  !*box-sizing: border-box;*!*/
/*  outline: 0;*/
/*}*/

/*.form-item__input {*/
/*}*/

/*.form-item__select {*/
/*}*/

/*.form-item__textarea {*/
/*}*/

.form-btn-action {
  width: 100%; border-radius: 0px; height: 100%;
  cursor: pointer;
  border: 1px #5181b8 solid;
  background: #5181b8;
  font-size: 11px;
  font-weight: bold;
  color: white;

}

.form-btn-action:hover {
  background: #dfe6ed;
  color: black;
}


/* text field */
.text-field {
  margin-bottom: 1rem;
}

.text-field__label {
  display: block;
  margin-bottom: 0.25rem;
}

.text-field__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-field__input[type="search"]::-webkit-search-decoration,
.text-field__input[type="search"]::-webkit-search-cancel-button,
.text-field__input[type="search"]::-webkit-search-results-button,
.text-field__input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.text-field__input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.text-field__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #757575;
  outline: 0;
}

.text-field__input:disabled,
.text-field__input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

/* with floating label */
.text-field_floating-2 {
  position: relative;
}

.text-field_floating-2 .text-field__input {
  height: calc(2.5rem + 2px);
  padding: 0.5rem 0.75rem;
}

.text-field_floating-2 .text-field__label {
  position: absolute;
  top: 50%;
  left: 0.3125rem;
  display: flex;
  transform: translateY(-50%);
  pointer-events: none;
  border: none;
  background-color: #fff;
  color: #757575;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: top 0.1s ease-in-out;
}

.text-field_floating-2 .text-field__input::-moz-placeholder {
  color: transparent;
}

.text-field_floating-2 .text-field__input::placeholder {
  color: transparent;
}

.text-field_floating-2 .text-field__input:focus~.text-field__label,
.text-field_floating-2 .text-field__input:not(:placeholder-shown)~.text-field__label {
  top: 0;
  transform: translateY(-50%) scale(0.75);
}

/* validation */
.text-field__wrapper {
  /*margin-bottom: 1.25rem;*/
  /*margin-top:6px;*/

}

.text-field__wrapper .text-field {
  margin-bottom: 7px;
}

.text-field__input_invalid,
.text-field__input_valid {
  border-color: #dc3545;
  padding-right: 2.25rem;

  background-repeat: no-repeat;
  background-position: right 0.5625rem center;
  background-size: 1.125rem 1.125rem;
}

.text-field__input_valid {
  border-color: #b0bed9;
  border-radius:0;
}

.text-field__input_invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.25);
}

.text-field__input_valid:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

.text-field__message {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: .875rem;
  color: red;
}

.text-field__message_valid {
  color: #198754;
}

.text-field__message_invalid,
.text-field__message_valid {
  display: block;
}



/* with floating label */
.text-field_floating-3 {
  position: relative;
}

.text-field_floating-3 .text-field__input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: calc(3.5rem + 2px);
  line-height: 1.25;
  padding: 1rem 0.75rem;
  background-color: #f5f5f5;
}

.text-field_floating-3 .text-field__input:focus {
  outline: 0;
  border-bottom: 1px solid #03a9f4;
  box-shadow: none;
  background-color: #eee;
}

.text-field_floating-3 .text-field__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem .75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: color .15s ease-in-out, transform .15s ease-in-out;
}

.text-field_floating-3 .text-field__input::-moz-placeholder {
  color: transparent;
}

.text-field_floating-3 .text-field__input::placeholder {
  color: transparent;
}

.text-field_floating-3 .text-field__input:focus,
.text-field_floating-3 .text-field__input:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: .625rem;
  border-bottom: 1px solid #03a9f4;
}

.text-field_floating-3 .text-field__input:focus~.text-field__label,
.text-field_floating-3 .text-field__input:not(:placeholder-shown)~.text-field__label {
  transform: scale(.85) translateY(-.75rem) translateX(.15rem);
  color: #03a9f4;
}


.text-field_floating-3 .text-field__input_invalid,
.text-field_floating-3 .text-field__input_valid {
  border-color: #dc3545;
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: right 0.5625rem center;
  background-size: 1.125rem 1.125rem;
}

.text-field_floating-3 .text-field__input_invalid~.text-field__label,
.text-field_floating-3 .text-field__input_invalid:focus~.text-field__label,
.text-field_floating-3 .text-field__input_invalid:not(:placeholder-shown)~.text-field__label,
.text-field_floating-3 .text-field__input_invalid:focus {
  color: #dc3545;
}

.text-field_floating-3 .text-field__input_valid {
  border-color: #198754;
}

.text-field_floating-3 .text-field__input_valid~.text-field__label,
.text-field_floating-3 .text-field__input_valid:focus~.text-field__label,
.text-field_floating-3 .text-field__input_valid:not(:placeholder-shown)~.text-field__label {
  color: #198754;
}

.text-field_floating-3 .text-field__input_invalid:focus,
.text-field_floating-3 .text-field__input_invalid:not(:placeholder-shown) {
  border-color: #dc3545;
}

.text-field_floating-3 .text-field__input_valid:focus,
.text-field_floating-3 .text-field__input_valid:not(:placeholder-shown)  {
  border-color: #198754;
}



</style>


<style >

:root {
  --gutter: 3px;
  --bg: #5b9c5a;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.form-wrap-container {
  background: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
}


/*** #########################  ***/
/*** --- HTML СЕТКА (START) --- ***/

/*** --- Базовые стили --- ***/
.row-wrap-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/** Блок item сетки ***/
.row-wrap-box > div {
  padding: 4px;
  margin: 0px auto 0px auto;
  /*background: wheat;*/
  /*border: 1px solid gray;*/
}

.col-item-w-1 {
  width: calc(8.3% - var(--gutter));
}
.col-item-w-2 {
  width: calc(16.66% - var(--gutter));
}
.col-item-w-3 {
  width: calc(25% - var(--gutter));
}
.col-item-w-4 {
  width: calc(33.33% - var(--gutter));
}
.col-item-w-5{
  width: calc(41.66% - var(--gutter));
}
.col-item-w-6 {
  width: calc(50% - var(--gutter));
}
.col-item-w-7{
  width: calc(58.33% - var(--gutter));
}
.col-item-w-8 {
  width: calc(66.66% - var(--gutter));
}
.col-item-w-9 {
  width: calc(75% - var(--gutter));
}
.col-item-w-10 {
  width: calc(83.33% - var(--gutter));
}
.col-item-w-11 {
  width: calc(91.66% - var(--gutter));
}
.col-item-w-12 {
  width: calc(100% - var(--gutter));
}


/*** --- Медиа запросы --- ***
@media screen and (max-width:992px) {
  .container {
    max-width: 100%;
  }
  .col-lg-1 {
    width: calc(8.3% - var(--gutter));
  }
  .col-lg-2 {
    width: calc(16.66% - var(--gutter));
  }
  .col-lg-3 {
    width: calc(25% - var(--gutter));
  }
  .col-lg-4 {
    width: calc(33.33% - var(--gutter));
  }
  .col-lg-5 {
    width: calc(41.66% - var(--gutter));
  }
  .col-lg-6 {
    width: calc(50% - var(--gutter));
  }
  .col-lg-7 {
    width: calc(58.33% - var(--gutter));
  }
  .col-lg-8 {
    width: calc(66.66% - var(--gutter));
  }
  .col-lg-9 {
    width: calc(75% - var(--gutter));
  }
  .col-lg-10 {
    width: calc(83.33% - var(--gutter));
  }
  .col-lg-11 {
    width: calc(91.66% - var(--gutter));
  }
  .col-lg-12 {
    width: calc(100% - var(--gutter));
  }
}
@media screen and (max-width:768px) {
  .col-md-1 {
    width: calc(8.3% - var(--gutter));
  }
  .col-md-2 {
    width: calc(16.66% - var(--gutter));
  }
  .col-md-3 {
    width: calc(25% - var(--gutter));
  }
  .col-md-4 {
    width: calc(33.33% - var(--gutter));
  }
  .col-md-5 {
    width: calc(41.66% - var(--gutter));
  }
  .col-md-6 {
    width: calc(50% - var(--gutter));
  }
  .col-md-7 {
    width: calc(58.33% - var(--gutter));
  }
  .col-md-8 {
    width: calc(66.66% - var(--gutter));
  }
  .col-md-9 {
    width: calc(75% - var(--gutter));
  }
  .col-md-10 {
    width: calc(83.33% - var(--gutter));
  }
  .col-md-11 {
    width: calc(91.66% - var(--gutter));
  }
  .col-md-12 {
    width: calc(100% - var(--gutter));
  }
}
@media screen and (max-width:576px) {
  .col-sm-1 {
    width: calc(8.3% - var(--gutter));
  }
  .col-sm-2 {
    width: calc(16.66% - var(--gutter));
  }
  .col-sm-3 {
    width: calc(25% - var(--gutter));
  }
  .col-sm-4 {
    width: calc(33.33% - var(--gutter));
  }
  .col-sm-5 {
    width: calc(41.66% - var(--gutter));
  }
  .col-sm-6 {
    width: calc(50% - var(--gutter));
  }
  .col-sm-7 {
    width: calc(58.33% - var(--gutter));
  }
  .col-sm-8 {
    width: calc(66.66% - var(--gutter));
  }
  .col-sm-9 {
    width: calc(75% - var(--gutter));
  }
  .col-sm-10 {
    width: calc(83.33% - var(--gutter));
  }
  .col-sm-11 {
    width: calc(91.66% - var(--gutter));
  }
  .col-sm-12 {
    width: calc(100% - var(--gutter));
  }
}

--- медиа запросы ***/

/*** ---- HTML СЕТКА (END) ---- ***/
/*** ########################  ***/



</style>