<template>
  <div class="DzionFormContainer">
    <slot name="v-form-header"></slot> <!----  СЛОТ для ЗАГОЛОВКА --->
    <div class="DzionFormRow">
      <template v-for="(item, fname) in getFormModel">
        <div class="DzionFormCol" :class="'v-col-' + item.col" :style="colStyle">
          <div class="DzionFormItemBox" :class="'ItemBoxLabelStyle-' + item.labelType" :style="itemBoxStyle">

            <!--- Заголовок поля --->
            <div class="DzionFormLabelBox" >
                <div :class="'_label-' + item.type"
                     :style="labelStyle + '; height:' + titleHeight + 'px;'"  >{{ item.title }}</div>
            </div>

            <!--- Поле формы --->
            <div class="DzionFormInputBox" :class="'IputBoxStyleType-' + item.type">

              <div :style="'height:' + inputHeight + 'px;' +inputStyle">

                  <template v-if="item.type == 'text'">
                    <!-------- INPUT -------->
                    <input v-model="getFormData[fname]" type="text" class="_input-control" :placeholder="item.title"
                           @input="emitDataEvent(fname)"/>

                  </template>
                  <template v-else-if="item.type == 'date'">
                    <!---------- DATE -------->
                    <input v-model="getFormData[fname]" type="date" class="_input-control" :placeholder="item.title"
                           @input="emitDataEvent(fname)"/>

                  </template>
                  <template
                      v-else-if="item.type == 'email' || item.type == 'password' || item.type == 'phone' || item.type == 'number'">
                    <!---------- email | password | phone | number -------->
                    <input v-model="getFormData[fname]" class="_input-control" :type="item.type"
                           @input="emitDataEvent(fname)" :placeholder="item.title"/>

                  </template>
                  <template v-else-if="item.type == 'textarea'">
                    <!---------- TEXTAREA -------->
                    <textarea v-model="getFormData[fname]" class="_textarea-control" :placeholder="item.title"
                              @input="emitDataEvent(fname)"></textarea>

                  </template>
                  <template v-else-if="item.type == 'select'">
                    <!---------- SELECT -------->
                    <select v-model="getFormData[fname]" class="_select-control"
                            @change="emitDataEvent(fname)">
                      <template v-if="item.attr && item.attr.length">
                        <option v-for="(elem) in item.list" :value="elem[item.attr[0]]"> {{ elem[item.attr[1]] }}</option>
                      </template>
                      <template v-else>
                        <option v-for="(elem, i) in item.list" :value="i">{{ elem }}</option>
                      </template>
                    </select>

                  </template>
                  <template v-else-if="item.type == 'checkbox'">
                    <!--------- CHECKBOX ------->
                    <div class="checkbox-input-container">
                      <input v-model="getFormData[fname]" type="checkbox" class="_checkbox-control"
                             @change="emitDataEvent(fname)">
                    </div>

                  </template>
                  <template v-else-if="item.type == 'radio'">
                    <!-------- RADIO ---------->
                    <div class="radio-input-container">
                      <template v-for="(rValue, rName) in item.list">
                        <div class="radio-input-container__item-box">
                          <input v-model="getFormData[fname]" :value="rName"
                                 @change="emitDataEvent(fname)" class="_radio-control" type="radio">
                          <div class="radio-input-box__title">{{ rValue }}</div>
                        </div>
                      </template>
                    </div>

                  </template>
                  <template v-else-if="item.type == 'submit'">
                    <!--------- SUBMIT --------->
                    <button @click="submit()" type="button" class="v-form-btn-action">{{ item.title }}</button>
                  </template>

              </div>

              <template v-if="item.type != 'submit' && item.type != 'textarea'">
                 <div class="DzionErrorContainer" :class="'_error-item-' + fname"></div>
              </template>

            </div>

          </div>
        </div>
      </template>
    </div>
    <slot name="v-form-footer"></slot> <!----   СЛОТ ДЛЯ ПОДВАЛА     --->
  </div>
</template>

<script>
export default {
  name: "FormEditorV3",

  props: {
    model: {type: Object, required: true}, // model
    data: {type: Object, default: {}},   // данные
    validate: {type: Object, default: {}},
    titleHeight: {type: String, default: 30},
    inputHeight: {type: String, default: 35},
    colStyle: {type: String, default: ''},
    itemBoxStyle: {type: String, default: ''},
    labelStyle: {type: String, default: ''},
    inputStyle: {type: String, default: ''},
  },

  data() {
    return {
      formData: {}, // возвращаемые данные
    }
  },

  created() {
    this.mapFormData()
  },

  computed: {
    getFormModel() {
      return this.model;
    },
    dataValues() {
      return this.data;
    },
    getValidate() {
      return this.validate;
    },
    getFormData() {
      return this.formData;
    },
  },

  methods: {

    mapFormData() {
      let model = this.getFormModel;
      let data = (this.dataValues) ? this.dataValues : {};
      let formData = {};
      for (let name in model) {
        formData[name] = (data[name]) ? data[name] : '';
      }
      this.formData = formData;
    },

    emitDataEvent(fname) {
      this.validator(fname); // валидируем данные
      const data = this.getFormData;
      this.$emit('get_form_data', {data})
    },

    submit(event) {
      alert('Submit-' + event.target);
    },

    validator(fname) {
      if (!this.getValidate[fname]) return false;
      let value = this.getFormData[fname];
      let rules = this.getValidate[fname];
      let tagElem = document.querySelector('._error-item-' + fname);
      tagElem.innerHTML = '';

      for (let rule in rules) {
        let fn = this.validatorRules(rule);
        if (!fn) continue;

        let ruleValue = rules[rule];
        let res = fn(value, ruleValue);
        if (res.message) {
          tagElem.innerHTML += res.message + '<br>';
        }
      }
    },

    validatorRules(rule) {
      const rules = {
        require: (value) => {
          let message = (!value || value == '') ? 'Поле не должно быть пустым' : null;
          let check = message ? false : true;
          return {check, message}
        },

        max: (value, ruleValue) => {
          let message = (value.length > ruleValue) ? 'Превышен лимит символов' : null;
          let check = message ? false : true;
          return {check, message}
        },

        min: (value, ruleValue) => {
          let message = (value.length < ruleValue) ? 'Слишком короткое значение' : null;
          let check = message ? false : true;
          return {check, message}
        },
      }
      return (rules[rule]) ? rules[rule] : null;
    }

  },
}
</script>

<style scoped>

/**********************/
/*** БАЗОВЫЕ СТИЛИ  ***/
.DzionFormContainer {
  margin: 0px;
  padding: 1px 1px 1px 1px;
}

.DzionFormRow {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 1px;
}

.DzionFormCol {
  margin: 0px;
  padding: 10px 2px 10px 2px;
  box-sizing: border-box;
  text-align: center;
}

/*** БАЗОВЫЕ СТИЛИ  ***/
/**********************/

/***********************/
/*** СТИЛИ ДЛЯ СЕТКИ ***/
.v-col-12 {
  width: calc(100% / 12 * 12 - 0px);
}

.v-col-11 {
  width: calc(100% / 12 * 11 - 0px);
}

.v-col-10 {
  width: calc(100% / 12 * 10 - 0px);
}

.v-col-9 {
  width: calc(100% / 12 * 9 - 0px);
}

.v-col-8 {
  width: calc(100% / 12 * 8 - 0px);
}

.v-col-7 {
  width: calc(100% / 12 * 7 - 0px);
}

.v-col-6 {
  width: calc(100% / 12 * 6 - 0px);
}

.v-col-5 {
  width: calc(100% / 12 * 5 - 0px);
}

.v-col-4 {
  width: calc(100% / 12 * 4 - 0px);
}

.v-col-3 {
  width: calc(100% / 12 * 3 - 0px);
}

.v-col-2 {
  width: calc(100% / 12 * 2 - 0px);
}

.v-col-1 {
  width: calc(100% / 12 * 1 - 0px);
}

/*** ./ СТИЛИ ДЛЯ СЕТКИ ***/
/*************************/

/***********************/
/***  СТИЛИ  ФОРМЫ   ***/

/* Обертка для контролов */
.DzionFormItemBox {
  border: 0px green solid;
}

/* Обертка для заголовка поля */
.DzionFormLabelBox {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: 12px;
  font-style: italic;
  color: #b0bed9;
  border: 0px fuchsia dotted;
}

/* Обертка для поля формы */
.DzionFormInputBox {
  width: 100%;
  border: 0px #ffb648 dashed;
}

/* Обертка для показа ошибок валидации */
.DzionErrorContainer {
  color: red;
  font-size: 10px;
  margin-top: -3px;
  text-align: left;
  font-style: italic;
  position: absolute;
  background: white;
  border-radius: 1px;
  padding-left: 4px;
  z-index: 99;
}

/*** Заголовок (LABEL) ***/
.DzionFormLabelBox div {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  padding-left: 5px;
}

/*** Поле формы (INPUT) ***/
.DzionFormInputBox input,
.DzionFormInputBox textarea,
.DzionFormInputBox select {
  height: 100%;
  width: 100%;
  border: 1px #b0bed9 solid !important;
  padding-left: 5px !important;
  outline: none;
  color: grey;
  cursor: pointer;
  font-size: 12px;
}

/************************************************
*** Динамические стили  для отображение заголовка
    Берем значение из item.labelType
*** Flex label style ***/

.ItemBoxLabelStyle-flex { display: flex; }

.ItemBoxLabelStyle-flex .DzionFormLabelBox {
  width: 35%;
  height: 35px !important;
}

.ItemBoxLabelStyle-flex .DzionFormInputBox {
  width: 65%;
  height: 35px;
}

/*** Float label style ***/
.ItemBoxLabelStyle-float {}

.ItemBoxLabelStyle-float .DzionFormLabelBox {
  position: relative;
  margin-top: -10px;
  margin-left: 10px;
  width: 50%;
  z-index: 50;
  background: white;
}

.ItemBoxLabelStyle-float .DzionFormInputBox {
  margin-top: -5px;
}

/*** Hidden label style ****/
.ItemBoxLabelStyle-hidden {}
.ItemBoxLabelStyle-hidden .DzionFormLabelBox {
  display: none;
}
.ItemBoxLabelStyle-hidden .DzionFormInputBox {}

/*** ./ Динамические стили
     для отображение заголовка
***************************************/

/*****************************************
 Динамические стили для разных типов поля
 (text, textarea, select, checkbox, radio)
  формируем из item.type  ****/

.IputBoxStyleType-select {}

.IputBoxStyleType-checkbox {}

.IputBoxStyleType-textarea div { height: 80px !important;}

.IputBoxStyleType-radio { margin-bottom: 10px;}

.IputBoxStyleType-radio .DzionErrorContainer {
  padding-top: 5px;
}

/** ./ Динамические стили для разных типов поля
    (text, textarea, select, checkbox, radio) ****
**************************************************/

/* Фокусировка поля */
.DzionFormInputBox input:focus,
.DzionFormInputBox textarea:focus {
  border: 2px dodgerblue solid !important;
}


/**********************************/
/**** CHECKBOX INPUT CONTAINER ****/
.checkbox-input-container {
  width: 100%;
  height: 100%;
  padding: 5px 0px 0px 0px;
  border: 1px #b0bed9 solid;
}

.checkbox-input-container input {
  height: 16px;
}

/**** ./ CHECKBOX INPUT CONTAINER ****/
/************************************/

/*******************************/
/**** RADIO INPUT CONTAINER ****/
.radio-input-container {
  display: flex;
  width: 100%;
  border: 1px #b0bed9 solid;
  min-height: 45px;
}

.radio-input-container__item-box {
  padding: 5px 2px 0px 2px;
  width: 100%;
}

.radio-input-container__item-box input {
  padding: 0px;
  margin: 0px;
  height: 18px;
  width: 18px;
}

.radio-input-container__item-box div {
  font-size: 10px;
  margin-top:0px;
}

/**** ./ RADIO INPUT CONTAINER ****/
/*********************************/


</style>
