<template>
  <form-container :title="getTitle">
    <template v-slot:content>

      <!---- Элементы формы ----->
      <template v-for="(elem, name) in getModel">
        <template v-if="typeof(elem) == 'string'">
          <form-input v-model="formData[name]" :title="elem" col="6"/>
        </template>
        <template v-else>
          <form-input v-model="formData[name]" :title="elem.title" col="6"/>
        </template>
      </template>

      <!---- Кнопки активности ----->
      <form-submit :title="getBtnTitle" @send="send" col="8"/>
      <form-submit title="Очистить" @send="clearForm" col="4"/>

    </template>
  </form-container>

  <!--<template v-for="(value, name) in formData">-->
  <!--  <pre>{{name}} </pre> || <pre>{{value}}</pre>-->
  <!--</template>-->

</template>

<script>

import {computed, ref} from "vue";
import useApiSender from "@/composables/useApiSender";
import useAlertMessages from "@/composables/useAlertMessages";

export default {
  name: "UniversalForm",
  props: ['title', 'btn_title', 'model', 'action', 'confirm'],

  setup(props, {emit}) {

    let eventName = 'after_submit'
    const formData = ref({});
    const {useState, sendAction} = useApiSender();
    const {setMessage, lastActionMessage} = useAlertMessages()

    //#################
    // --- Computed ---
    const getTitle = computed(() => {
      return props.title
    });
    const getBtnTitle = computed(() => {
      return props.btn_title
    });
    const getAction = computed(() => {
      return props.action
    });
    const getModel = computed(() => {
      setModel();
      return props.model
    });

    //#################
    // ----Methods ----
    // Очищаем модель
    const clearForm = () => {
      let data = formData.value;
      for (let name in data) {
        data[name] = '';
      }
    }

    // Устанавливаем модель
    const setModel = () => {
      let item = {};
      let modelList = props.model;
      for (let name in modelList) {
        let modelItem = modelList[name];
        let value = '';
        if (typeof (modelItem) !== 'string') {
          value = (modelItem.value) ? modelItem.value : '';
        }
        item[name] = value;
      }
      formData.value = item;
    }

    // Обработчик после выполнения
    const responseHandle = (data) => {
      clearForm();
      emit(eventName, data);
    }

    const beforySendHandle = (formData) => {
      let data = [];
      for (let name in formData) {
        let item = formData[name];
        data.push(item);
      }
      return data;
    }

    const confirmHandle = () => {
      let state = true;
      let comfirmMessage = props.confirm
      if (comfirmMessage)
        state = confirm(comfirmMessage)
      return state;
    }

    const validate = () => {
        let message = '';
        let list = formData.value;
        let model = props.model;
        for(let name in list) {
           let value = list[name]
           let elem  = model[name];
           if(elem.required && (!value)) {
              message = 'Не заполнено поле: "' + elem.title + '"';
              alert(message);
              return false;
           }
        }
        return true;
    }

    // Отправка запроса на сервер
    const send = () => {

      if(!validate()) return false;
      if (!confirmHandle()) return false; // Получаем подтверждение

      let dataJson = Object.assign({}, formData.value);
      let data = beforySendHandle(dataJson); // предобработка запроса
      const action = props.action
      sendAction(action, data).then(response => {  // выполнение запроса
        const respData = {dataJson, model: props.model, data, response}
        responseHandle(respData) // постобработка  запроса
      });
    }

    //#################
    // --- Created ---
    setModel();

    return {
      getTitle,
      getBtnTitle,
      getAction,
      formData,
      getModel,
      send,
      clearForm,
    }

  },

}
</script>

<style scoped>

</style>