<template>
<form-container :title="getTitle" >
  <template v-slot:content >

    <!---- Элементы формы ----->
    <template v-for="(_title, name) in model" >
       <form-input v-model="formItem[name]"
                   :title="_title" col="6" />
    </template>

    <!---- Кнопки активности ----->
    <form-submit :title="getBtnTitle"
                 @send="send" col="8" />

    <form-submit title="Очистить"
                 @send="clearForm" col="4" />

  </template>
</form-container>
<!--  <pre v-for="(value, name) in formItem"> -->
<!--    name:{{name}} value: {{value}}-->
<!--  </pre>-->
</template>

<script>

import {computed, ref} from "vue";
import useApiSender from "@/composables/useApiSender";
import useAlertMessages from "@/composables/useAlertMessages";

export default {
  name : "UniversalForm",
  props: ['title', 'btn_title', 'model', 'action'],

  setup(props, {emit}) {

      const formItem = ref({});
      const { useState, sendAction } = useApiSender();
      const { setMessage, lastActionMessage } = useAlertMessages()

      // --- Computed ---
      const getTitle = computed( () => {
         return props.title
      });

      const getBtnTitle = computed( () => {
        return props.btn_title
      });

      const getAction = computed( () => {
        return props.action
      });

      const getModel = computed( () => {
         return props.model
      });

      // ----Methods ----
      const clearForm = () => {
        let data = formItem.value;
        for(let name in data) data[name] = '';
      }

      const setModel = () => {
        let item = {};
        for(let name in getModel) item[name] = '';
        formItem.value = item;
      }

      const emitAction = (eventName = 'after_submit', data = {}) => {
         emit(eventName, data);
      }

      const send = () => {
          let data = [];
          let values = formItem.value
          for(let name in values) data.push(values[name]);
          const action = props.action
          sendAction(action, data).then(response => {
             emitAction({ data, response});
          });
      }

      // --- Created ---
      setModel();

      return {
        getTitle,
        getBtnTitle,
        getAction,
        formItem,
        getModel,
        send,
        clearForm,
      }

  },

}
</script>

<style scoped>

</style>