<template>
  <div class="container3">
    <div style="display: flex; border: 1px red solid;  margin: 0 auto; padding:10px 10px 10px 10px">

      <!----- FORM EDITOR ----->
      <div style="width: 50%; border: 1px green solid; padding: 4px;">
        <div style="text-align: left">FormModel</div>
        <hr>

        <FormEditor
            :item="user"
            :model="formModel"
            :validate="validate"
            :css="{ col: '', label: '', input: ''}"
            :form-data-wrap=false
            @update="formUpdateEvent"
            col-css="border: 0px red solid; padding: 2px;"
            label-css="" input-css="">

          <template v-slot:header>Header</template>

          <template v-slot:footer>Footer</template>

        </FormEditor>

      </div>

      <div style="width: 50%; border: 1px green solid; padding: 4px">

        <div style="text-align: left">Data</div>
        <hr>
        <pre style="text-align: left">{{ user }}</pre>

        <div style="text-align: left">Validate</div>
        <hr>
        <pre>{{ validate }}</pre>

        <div style="text-align: left">FormData</div>
        <hr>
        <pre>{{ formModel }}</pre>

      </div>

    </div>
  </div>
</template>

<script setup>

import FormEditor from '@/components/Form/FormEditor.vue'

import {computed, reactive, ref} from 'vue'

const validate = reactive({
  username: {require: true, max: 15, min: 2},
  email: {require: true, max: 15, min: 2},
})

const user = reactive({
  username: '',
  email: 'text@mail.ru',
  login: 'maikl',
  password: 1234,
  phone: '8906-456-7089',
  age: 36,
  desc: '',
  profession: null,
  smoking: true,
  lang: null,
  avatar: null,
})

const formModel = reactive({

  username: {type: 'text', title: 'Имя', width: 60, col_style: 'flex'},
  email: {type: 'text', title: 'Email', width: 40, col_style: 'flex'},
  login: {type: 'text', title: 'Логин', width: 50, col_style: 'hidden'},
  password: {type: 'text', title: 'Пароль', width: 50, col_style: 'hidden'},
  hobby: {type: 'text', title: 'Увлечения', width: 100, col_style: 'flex'},
  phone: {type: 'text', title: 'Телефон', width: 70,},
  age: {type: 'text', title: 'Возраст', width: 30,},
  desc: {type: 'textarea', title: 'О себе', width: '100',},

  // select
  profession: {
    type: 'select', title: 'Профессия', width: 50,
    attr: ['id', 'title'],
    list: [
      {id: 1, title: 'Разработчик'},
      {id: 2, title: 'Преподаватель'},
      {id: 3, title: 'Повар'},
    ],
  },

  // checkbox
  smoking: {type: 'checkbox', title: 'Курение', width: '50',},

  // radio
  lang: {
    type: 'radio', title: 'Язык программирования', width: 60,
    list: {php: 'PHP', go: 'Go', html: 'HTML'},
  },

  // file
  avatar: {
    type: 'file', title: 'Аватар', width: 40, multiply: true,
  },

})

const formUpdateEvent = (item) => {
  for (let name in item) {
    user[name] = item[name];
  }
}

</script>

<style>

</style>
