<template>
  <div class="row row-form-container" >

    <slot name="header">
      <div v-if="getTitle" class="col-lg-12">
        <div class="row-form__title"> {{getTitle}} </div>
      </div>
    </slot>

    <slot name="content"></slot>

    <slot name="bottom"></slot>

  </div>
</template>

<script>
export default {
  name: "FormContainer",
  props: {
    title: {
      type: String,
      default: '',
      required: false,
    },
  },

  data() {
    return {
    }
  },

  computed: {
    getTitle() {
      return this.title;
    },
  },

}
</script>

<style scoped>
   .row-form-container {
     margin: 4px;
     background: white;
   }
</style>