<template>
<div :class="'col-' + getColClass" >
  <button @click="send()" style="width: 100%"
        class="btn row-form__btn" >
        <span class="ladda-label">{{getTitle}}</span>
        <span class="ladda-spinner"></span>
  </button>
</div>
</template>

<script>
export default {
  name: "FormSubmit",
  props: {
    title: '',
    col: {
      type: String,
      default: '12',
      required: false,
    },
  },

  data() {
    return {
    }
  },

  computed: {
    getColClass() {
      return this.col;
    },

    getTitle() {
      return this.title;
    },
  },

  methods: {
    send() {
      this.$emit('send', {});
    }
  },
}
</script>

<style scoped>

</style>