<template>
  <div class="container3">

    <h1> Универсальная форма (v1)</h1>

    <FormShow />

  </div>
</template>

<script>

import FormShow from '@/components/FormShow.vue'

export default {
  name: 'App',
  components: {
    FormShow,
  },
}
</script>

<style >

</style>
